<!--  Constructs and displays the developers page  -->

{% extends 'main/layout.html' %}
{% load custom_tags %}

{% block title %}
    Developers
{% endblock title %}

{% block header-text-id %}
    id="developers"
{% endblock header-text-id %}

{% block header-text %}
    Developers
{% endblock header-text %}

{% block content %}
    <div id="developers" class="container m-5">
        {% for developer in developers %}
            {% if developer.developer_id != "pennyroyal" %}
                <a class="m-3" href={% developer_url developer %}>
                    <div class="dev-thumbnail">
                        <p>{{ developer }}, {{ developer.developer_id }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}