<!doctype html>

{% load static from staticfiles %}

<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>

        <!-- Local Custom Bootstrap -->
        <link rel="stylesheet"
              href="{% static 'stylesheets/css/bootstrap.css' %}">
        <link rel="stylesheet"
              href="{% static 'stylesheets/css/bootstrap-grid.css' %}">
    </head>
    <body>
        {% block header %}
            <header>
                <div id="main-header"
                     class="header">
                </div>
            </header>
        {% endblock header %}
        <content>
            {% block content %}
            {% endblock content %}
        </content>
    </body>
</html>